{% extends 'base.html.twig' %}

{% block title %}Hello AccountPasswordController!{% endblock %}

{% block body %}
    <div class="container">
        <h3 class="text-center m-auto">Hello {{ app.user.firstname }}! ✅</h3>
        <section class="row my-auto">
            <article class="col-9">
                <h4>Mes recettes</h4>
                <ol class="row">
                    {% for recette   in recettes %}
                        {% if  recette.user == app.user.pseudo %}
                            <li class="col-5">{{ recette.title }} by {{ recette.user }}</li>
                        {% endif %}
                    {% endfor %}
                </ol>
                
                <h4>mes ingredients favoris</h4>

                {# !TODO revoir l'affichage des ingredient, une jointure sql, ou un ajout de champs favoris #}
                <div>
                    <ul class="row flex-wrap">
                        {% for recette in recettes %}
                            {% for composition in compositions %}

                                {% if recette.id == composition.recette.id %}
                                    <li class="col-4">{{ composition.ingredient.name|lower }}
                                        <img src="{{asset('img/' ~ composition.ingredient.photo)}}" width="30px"  height="auto" alt="{{ composition.ingredient.name }}">
                                    </li>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    </ul>
                </div>


            </article>
            <article class="col-3">
                <h4>Mon profil</h4>
                <ul class="m-auto text-decoration-none">
                    <li>Prénom: {{ app.user.firstname }}</li>
                    <li>Nom: {{ app.user.lastname }}</li>
                    <li>Pseudo: {{ app.user.pseudo }}</li>
                    <li>Adresse: {{ app.user.address }}</li>
                    <li>Code postal: {{ app.user.postalCode }}</li>
                    <li>Ville: {{ app.user.city }}</li>
                    <li>Email: {{ app.user.email }}</li>
                    <li>Téléphone: {{ app.user.phone }}</li>
                </ul>
                <a href="{{ path('app_account_edit', {'id' : app.user.id}) }}" class="btn btn-info">Modifier mon mot de pass</a>
            </article>
        </section>
        <section class="row my-auto">
            <h4 class="text-center col-12">Mes recettes Favorites</h4>
            {% for recette in app.user.favoris %}
                                   <article class="cards">
                        <div class="card-header">
                            <h5 class="card-title">{{ recette.title }} by {{ recette.user }}</h5>
                            <img src="{{asset('img/' ~ recette.photo)}}" alt="" class="img-fluid">
                        </div>
                        <div class="card-body">
                            <p>Temps de preparations: {{ recette.timePrepare }}</p>
                            <p>Temps de cuissons: {{ recette.cookTime }}</p>

                        </div>
                    </article>
                        {% endfor %}
        </section>
    </div>

{% endblock %}
