{% extends 'base.html.twig' %}

{% block title %} Bienvenue
{% endblock %}

{% block body %}
    <header class="h-home">
        <div><img src="{{ asset('img/' ~ 'wif.png') }}" alt="what's in my fridge"></div>

        <div class="cont">
            <div class="tagline">
                <h1>"Toute recette requiert un <span class="c-word">ingrédient</span> que vous n'avez pas dans votre
                    cuisine"</h1>
                <h2 class="mt-5">C'est <span class="c-word">faux</span> !</h2>
            </div>
        </div>
        <div class="container cont_parent">
            {% include ("searchbar.html.twig") %}
            <div>
                <form action="{{ path('app_search_compo') }}">
                    <input id='obj-input' type="hidden" name="js_object">
                    <button id="search-btn" class="mb-5" type="submit">C'est parti !</button>
                </form>
            </div>
        </div>
    </header>











    <div class="container d-flex justify-content-between">
        <div class='row'>
            <div class="col-sd-12 col-md-6 col-lg-4">
                <h2 class="text-center">Entrées</h2>
                <div id="carouselExampleControls" class="carousel carousel-dark slide" data-bs-ride="carousel"
                     data-bs-interval="5000" class="">
                    <div class="carousel-inner shadow-sm rounded shadow-lg col-sm-12 col-md-6 col-lg-4">
                        {% for recette in recettes %}
                            {% if recette.category.id == 1 %}
                                {% if loop.first %}
                                    <div class="carousel-item active border-dark">
                                        {% include ("cards.html.twig") %}
                                    </div>
                                {% else %}
                                    <div class="carousel-item">
                                        {% include ("cards.html.twig") %}
                                    </div>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                            data-bs-slide="prev">
                        <span class="fa-solid fa-angle-left" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                            data-bs-slide="next">
                        <span class="fa-solid fa-angle-right" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>

            <div class="col-sd-12 col-md-6 col-lg-4">
                <h2 class="text-center">Plats</h2>
                <div id="carouselExampleControl" class="carousel carousel-dark slide" data-bs-ride="carousel"
                     data-bs-interval="5000" class="border border-dark">
                    <div class="carousel-inner shadow-sm rounded shadow-lg col-sm-12 col-md-6 col-lg-4">
                        {% for recette in recs %}
                            {% if loop.first %}
                                <div class="carousel-item active border-dark">
                                    {% include ("cards.html.twig") %}
                                </div>
                            {% else %}
                                <div class="carousel-item">
                                    {% include ("cards.html.twig") %}
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControl"
                            data-bs-slide="prev">
                        <span class="fa-solid fa-angle-left" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControl"
                            data-bs-slide="next">
                        <span class="fa-solid fa-angle-right" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>

            <div class="col-sd-12 col-md-6 col-lg-4">
                <h2 class="text-center">Desserts</h2>
                <div id="carouselExampleControlss" class="carousel carousel-dark slide" data-bs-ride="carousel"
                     data-bs-interval="5000" class="border border-dark">
                    <div class="carousel-inner shadow-sm rounded shadow-lg col-sm-12 col-md-6 col-lg-4">
                        {% for recette in recet %}
                            {% if loop.first %}
                                <div class="carousel-item active border-dark">
                                    {% include ("cards.html.twig") %}
                                </div>
                            {% else %}
                                <div class="carousel-item">
                                    {% include ("cards.html.twig") %}
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <button class="carousel-control-prev " type="button" data-bs-target="#carouselExampleControlss"
                            data-bs-slide="prev">
                        <span class=" fa-solid fa-angle-left" aria-hidden="true"></span>
                        <span class=" visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControlss"
                            data-bs-slide="next">
                        <span class="fa-solid fa-angle-right" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>

    </div>



    {% set count = 1 %}
    <div class='container row mx-auto'>
        <h2 class='my-5'>Vos dernières recettes favorites</h2>
        {% if is_granted('ROLE_USER') %}

            {% for recette in recettes %}
                {% if recette in app.user.favoris and count <= 3 %}
                    {% set count = count + 1 %}
                    <div class='col-sd-12 col-md-6 col-lg-4'>
                        <div class='item'>
                            {% include ("cards-3.html.twig") %}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>

    {% set count = 0 %}




    <div class="container my-5">
        <h3>Avis</h3>

        <div>
            <div class='row d-flex justify-content-between mx-1 p-1'>
                {% for avis in avis | reverse %}
                    <div class='col-sm-12 col-md-6  c-p p-2 aviscont'>
                        <h5>{{ avis.recette }}</h5>
                        <div class="avis p-3">
                            <p>{{ avis.content }}</p><br>
                        </div>
                        <span>Publié par <span class='ua'> {{ avis.user }} </span></span>

                    </div>

                {% endfor %}
            </div>

        </div>
    </div>




    <script>
        var myCarousel = document.querySelector('#carouselExampleControls')
        var carousel = new bootstrap.Carousel(myCarousel, {
            interval: 10000,
            wrap: false
        })

    </script>
{% endblock %}
