{% extends 'base.html.twig' %}

{% block title %}Composition!{% endblock %}

{% block body %}

<div class="container">
  
    <div class="row justify-content-around">
        <h4 class="center"> Pour réaliser la recette : </h4>
            {% for recette in recettes %}
                <div class="card col-md-4" style="width: 18rem;"> 
                    <div>
                    {# <button class="btn btn-primary" href="{{ path('app_recette_detail', {'id' : recette.id}) }}">Détail de la recette</button> #}
                    <h5><i> {{ recette.title }} </i></h5>
                    <div>
                        <h5> Ingredients :</h5>
                            <ul>
                            {% for composition in compositions %}
                            {% if recette.id == composition.recette.id %}
                                <li>{{composition.poids}} grammes de {{ composition.ingredient.name|lower }} </li>
                            {% endif %}
                            {% endfor %}
                            </ul>
                    </div>

                    <p>Prix de cette recette : 
                    {% set price = 0 %}
                    {% for composition in compositions %}
                    {% if recette.id == composition.recette.id %}
                    {% set price = price + composition.price %}
                    {% endif %}
                    {% endfor %}
                    {{ price }} Euros.</p>

                    </div>
                </div>       
            {% endfor %}  
    </div>   
</div> 
{% endblock %}