{% extends 'base.html.twig' %}

{% block title %}Hello SearchController!{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>{{ controller_name }}</h1>

        {# <div class="card-columns result">
        {% for ing in ings %}

            <div class="card" style="">
    <div class="card-body">
        <h5 class="card-title">{{ ing.name }}</h5>
        <img src="{{asset('img/' ~ ing.photo)}}" alt="{{ ing.name }}">
}
    </div>
</div>
        {% else %}
            <mark>Aucun résultat trouvé</mark>
        {% endfor %}
    </div>
</div> #}



{% for ar in array %}

    {% for ingredient in ingredients %}
        {% if ar == ingredient.name %}
            {% for compo in compos %}

            {% if ingredient.id == compo.ingredient.id %}
            
            
            {% for recette in recettes %}

            {% if compo.recette.id == recette.id %}
                {{compo.recette.title}}

                {# {% include ("cards.html.twig") %} #}
            
            {% endif %}
                
            {% endfor %}
            
            
            {% endif %}
                
            {% endfor %}
        
        {% endif %}


        
    {% endfor %}

    
{% endfor %}










{% endblock %}
