
    <div class="w-100 card-new" style="width: 18rem;">
        <div class="card-img-top top-card card-1">
            <img class="" src="{{asset('img/' ~ recette.photo)}}" alt="Card image cap">
        </div>
        <div class="card-body">
            <h5 class="card-title">{{recette.title}}</h5>
            <p class="card-text ">
            <div class ="row ingscroll">
            {% for composition in compositions %}
            {% if recette.id == composition.recette.id %}
                
                			<div class='ingimg dot col-6 col-md-3 text-center '>
							<div class='ingimgr w-100'>
								<img  src="{{asset('img/' ~ composition.ingredient.photo)}}" alt=""> 
							</div>
							
							<p>
							 
							{{ composition.ingredient.name|lower }} 
                            
                            </p> 
						</div>
            {% endif %}
            {% endfor %}
			</div>

                        <div class="time-card">
							<p>
								Temps de préparation : <br>
								{{recette.timePrepare}}
								min</p>
							<p>Temps de cuisson :<br>
								{{recette.cookTime}}
								min</p>
						</div>
                
            
            </p>
            <div class="row align-items-center ">
                <div class="col ">
                    <a href="{{ path('app_recette_detail', {'id': recette.id}) }}"
                        class="sub-avis btn btn-primary ">Voir la recette</a>
                </div>
                <div class="card-fav col text-end">
                    {% if app.user %}
                            
                    
                        
                              
                            
                        {% if recette in app.user.favoris   %}
                            <a href="{{path("app_account_favoris", {"id": recette.id})}}"><span class="fa-solid fa-heart" aria-hidden="true"></span></a>

                            {% else %}
                                

                            <a href="{{path("app_account_favoris", {"id": recette.id})}}"><span class="fa-regular fa-heart " data-icon="bi:heart"></span></a>
                            
                            {% endif %}
                            
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

