<div class="col-4">
    <div class="card col" style="width: 18rem;">
        <img class="card-img-top" src="{{ asset('img/' ~ compo.recette.photo) }}" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">{{ compo.recette.title }}</h5>
            <p class="card-text ">
                {% for compo in compos %}
                {% if id == compo.recette.id %}

            <div>
                <span id="poid">{{ compo.poids }}</span> grammes
                de {{ compo.ingredient.name|lower }}
                <img src="{{ asset('img/' ~ compo.ingredient.photo) }}" alt="{{ compo.ingredient.name }}" class="w-25">
            </div>
            {% endif %}
            {% endfor %}

            </p>
            <div class="d-flex justify-content-center">
                <a href="{{ path('app_recette_detail', {'id': compo.recette.id}) }}"
                   class="btn btn-primary">Voir la recette</a>
            </div>
        </div>
    </div>

</div>