<footer style="height:250px; background-color: #F29F05" class="d-flex  pt-3">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-3 item">
                <h3>Services</h3>
                <ul>
                    <li><a href="{{ path('app_recette') }}">Recettes</a></li>
                    <li><a href="{{ path('app_composition') }}">Composition</a></li>
                    <li><a href="{{ path('app_ingredient') }}">Ingrédients</a></li>
                </ul>
            </div>
            <div class="col-sm-6 col-md-3 item">
                <h3>A propos</h3>
                <ul>
                    <li><a href="{{ path('app_contact') }}">Contact</a></li>
                    <li><a href="{{ path('app_mention_legal') }}">Mention Légal</a></li>
                </ul>
                </div>
                <div class="col-md-6 item text">
                    <h3>WhatsInMyFridge</h3>
                    <p>"Toute recette requiert un ingrédient que vous n'avez pas dans votre
                    cuisine" <br> C'est faux !</p>
                </div>
            <p style="text-align:center;">WhatsInMyFridge © 2022</p>
        </div>
        </div>
</footer>